:root{
    --dark:#37404e;
    --darker:#1f2937;
    --darkest:#111827;
    --grey:#6b7280;
    --light:#eee;
    --lavender:#d053d0;
    --purple:#401747;

    --shadow:0 1px 3px rgba(74, 70, 70, 0.1);


    --glow:0px 0px 4px rgba(58, 124, 211,0.75);
    --glow-p: 0px 0px 4px rgba(240, 44, 201, 0.75);
    
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input:not([type="radio"]):not([type="checkbox"]),button{
        appearance: none;
        border: none;
        outline: none;
        background: none;
        cursor: initial;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--dark);
    color: #fff;
}
section{
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
h4{
    color: var(--grey);
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
.greeting .title input{
    margin-left: 0.5rem;
    flex: 1 1 0%;
    min-width: 0;
}
.greeting .title,
.greeting .title input{
    color: var(--darker);
    font-size: 1.5rem;
    font-weight: 700;
}
header{
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}
header h1{
    font-size: 2.5rem;
    font-weight: 300;
    color: var(--grey);
    margin-bottom: 1rem;
}
#new-form{
    display: flex;
}

#new-input{
    flex: 1 1 0%;
    background-color: var(--darker);
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    color: var(--light);
    font-size: 1.25rem;
    box-shadow: var(--shadow);
}
#new-input::placeholder{
    color: var(--grey);
}
#new-submit{
    color: var(--lavender);
    font-size: 1.25rem;
    font-weight: 700;
    background-image: linear-gradient(to right,var(--lavender),var(--purple));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: 0.4s;
}
#new-submit:hover{
    opacity: 0.8;
}
#new-submit:active{
    opacity: 0.6;
}
main{
    flex:1 1 0%;
    padding: 2rem 1rem;
    max-width: 800px;
    width:100%;
    margin: 0 auto;
}
.to-do-list{
    padding: 1rem;
}
.to-do-list h2{
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--grey);
    margin-bottom: 1rem;
}
.to-do-list .options{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:1rem;
    margin-bottom: 1.5rem;
}
.to-do-list .options label{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    background-color: var(--darker);
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    cursor: pointer;

}
input[type="radio"],
input[type="checkbox"]{
    display: none;
}
.bubble{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #7a9ccf;
    box-shadow: var(--glow);
}
.bubble.personal{
    border-color: var(--lavender);
    box-shadow: var(--glow-p);
}
.bubble::after{
    content: "";
    display: block;
    opacity: 0;
    width: 0px;
    height: 0px;
    background-color: #7a9ccf;
    box-shadow: var(--glow);
    border-radius: 50%;
    transition: 0.8s ease-in-out; 
}
.bubble.personal::after{
    background-color: var(--lavender);
    box-shadow: var(--glow-p);
}
input:checked ~ .bubble::after{
    width: 10px;
    height: 10px;
    opacity: 1;
}
.to-do-list .options label div{
    color: var(--darker);
    font-size: 1.125rem;
    margin-top: 1rem;
}
.to-do-list input[type="submit"]{
    display:block;
    width: 100%;
    font-size: 1.125rem;
    padding: 1rem 1.5rem;
    color: #fff;
    background-color: #7a9ccf;
}
#tasks .task{
    display: flex;
    justify-content: space-between;
    background-color: var(--darkest);
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}
#tasks .task .content{
    font: 1 1 0%;
}
#tasks .task .content .text{
    color: var(--light);
    font-size: 1.125rem;
    width: 100%;
    display: block;
    transition: 0.4s;
}
#tasks .task .content .text:not(:read-only){
    color: var(--lavender);
}
#tasks .task .actions{
    display: flex;
    margin: 0 -0.5rem;
}
.task .actions button{
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.4s;
}
.task .actions button:hover {
    opacity: 0.8;
}

.task .actions button:active {
    opacity: 0.6;
}
.task .actions .edit{
    background-image: linear-gradient(to right, var(--lavender), var(--purple));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.task .actions .delete {
    color: crimson;
}